 <html>
<head>
<meta charset="utf-8">
   <title>注册页面</title>
   <link rel="stylesheet" type='text/css' href="__CSS__/bootstrap.css">
   <link rel="stylesheet" type='text/css' href="__CSS__/bootstrap-responsive.css">
   <link rel="stylesheet" type='text/css' href="__CSS__/bootstrap.min.css">
   <link rel="stylesheet" type='text/css' href="__CSS__/register.css">
</head>
<body>
    <div class="container">
        <form action="__URL__/add" method="post" class="form-signin">
            <h2 class="form-signin-heading" id="register-logo">
            <img  src="__IMG__/register.png"/>
            </h2>
        <div id="massage-input">
            <h2 class="text-login">用户名：</h2><input type="text" name="username" class="input-block-leve ip" placehoder="请输入昵称！"/><br/>
            <h2 class="text-login">账号：</h2><input type="text" name="usernumber" class="input-block-leve ip" placehoder="请输入账号！"/><br/>
            <h2 class="text-login">密码：</h2><input type="password" name="password" class="input-block-leve ip" placehoder="请输入密码！"/><br/>
            <h2 class="text-login">联系方式：</h2><input type="text" name="phone" class="input-block-leve ip" placehoder="请输入联系方式！"/><br/>
        	<h2 class="text-login">角色：</h2> 
        	<label class="checkbox-inline cb">
		    <input type="radio" name='root' id="optionsRadios3" value='car' checked> <font class="text-radio">我是车主</font>
		    </label>
		    <label class="checkbox-inline" id="cb">
		    <input type="radio" name='root' id="optionsRadios3" value='place'> <font class="text-radio">我是场主</font>
		    </label><br/>
        </div>
        <div id="infornmation">
            <h2 class="text-infor"><span>*</span>必填!</h2>
            <h2 class="text-infor"><span>*</span>账号长度不得小于2或大于10！</h2>
            <h2 class="text-infor"><span>*</span>必填!</h2>
            <h2 class="text-infor"><span>*</span>必填!</h2>
            <h2 class="text-infor"><span>*</span>选择身份!</h2>
        </div>
            <button class="btn btn-large btn-primary" type="submit" id="button-submit">注&nbsp;&nbsp;册</button>
        <div id="bottom">
            <font>
            已有账号？<a href="{:purl(index)}">返回</a>
            </font>
        </div>
        </form>
    </div>
</body>
</html>