<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type='text/css' href="__CSS__/bootstrap.min.css" >
<link rel="stylesheet" type='text/css' href="__CSS__/public.css">
<link rel="stylesheet" type='text/css' href="__CSS__/about.css">
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
<title>About We</title>
</head>
<body>
<h1 class="round">
	<img src="__IMG__/about.png"/>
</h1>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
	<div class="navbar-header">
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
	   </div>
   <div class="navbar-header">
      <a class="navbar-brand">Parking</a>
   </div>
   <div>
      <ul class="nav navbar-nav">
         <li ><a href="{:purl(index)}">主页</a></li>
         <li><a href="{:purl(owner)}">停车</a></li>
         <li><a href="{:purl(place)}">车场</a></li>
         <li><a href="{:purl(about)}">关于我们</a></li>
      </ul>
   </div>
</nav>
</body>
</html>